In [1]:
import pandas as pd
import numpy as np
import random
import re

In [2]:
pwd

'C:\\Users\\Asus\\project'

#### kütüphanelerin açıklaması

### CountVectorizer 
bir metin dokümanı koleksiyonunu bir terim / simge sayısı vektörüne dönüştürmek için kullanılır. Aynı zamanda, vektör gösterimini oluşturmadan önce metin verilerinin önceden işlenmesini sağlar. Bu işlevsellik, onu metin için oldukça esnek bir özellik temsil modülü yapar.

### TfidfVectorizer 
TF-IDF, Terim Frekansı Ters Belge Frekansı'nın kısaltmasıdır. Bu, metni, tahmin için makine algoritmasına uydurmak için kullanılan sayıların anlamlı bir temsiline dönüştürmek için çok yaygın bir algoritmadır. Derin bir açıklamaya geçmeden önce örnek bir örnek alalım ve iki farklı baharatlı seyrek matrisi inceleyelim.

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
dataset = pd.read_csv("urldata.csv")

In [5]:
type(dataset)

pandas.core.frame.DataFrame

In [6]:
dataset.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [7]:
dataset.tail()

,Unnamed: 0,url,label,result
450171,450171,http://ecct-it.com/docmmmnn/aptgd/index.php,malicious,1
450172,450172,http://faboleena.com/js/infortis/jquery/plugin...,malicious,1
450173,450173,http://faboleena.com/js/infortis/jquery/plugin...,malicious,1
450174,450174,http://atualizapj.com/,malicious,1
450175,450175,http://writeassociate.com/test/Portal/inicio/I...,malicious,1

In [8]:
dataset.replace({'label':{'malicious':'kötü_amaçli', 'benign':'iyi_amaçli'}},inplace=True)

In [9]:
dataset.describe()

          Unnamed: 0         result
count  450176.000000  450176.000000
mean   225087.500000       0.231994
std    129954.761728       0.422105
min         0.000000       0.000000
25%    112543.750000       0.000000
50%    225087.500000       0.000000
75%    337631.250000       0.000000
max    450175.000000       1.000000

In [10]:
dataset.head()

   Unnamed: 0                        url       label  result
0           0     https://www.google.com  iyi_amaçli       0
1           1    https://www.youtube.com  iyi_amaçli       0
2           2   https://www.facebook.com  iyi_amaçli       0
3           3      https://www.baidu.com  iyi_amaçli       0
4           4  https://www.wikipedia.org  iyi_amaçli       0

In [11]:
dataset.count()

Unnamed: 0    450176
url           450176
label         450176
result        450176
dtype: int64

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450176 entries, 0 to 450175
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  450176 non-null  int64
 1   url         450176 non-null  object
 2   label       450176 non-null  object
 3   result      450176 non-null  int64
dtypes: int64(2), object(2)
memory usage: 13.7+ MB

In [31]:
 print (dataset.isnull().sum())

Unnamed: 0    0
url           0
label         0
result        0
dtype: int64

In [32]:
def makeTokens(f):
    tkns_BySlash = str(f.encode('utf-8')).split('/') # make tokens after splitting by slash
    total_Tokens = []
    for i in tkns_BySlash:
        tokens = str(i).split('-') # make tokens after splitting by dash
        tkns_ByDot = []
        for j in range(0,len(tokens)):
            temp_Tokens = str(tokens[j]).split('.') # make tokens after splitting by dot
            tkns_ByDot = tkns_ByDot + temp_Tokens
        total_Tokens = total_Tokens + tokens + tkns_ByDot
    total_Tokens = list(set(total_Tokens)) #remove redundant tokens
    if 'com' in total_Tokens:
        total_Tokens.remove('com') #removing .com since it occurs a lot of times and it should not be included in our features
    return total_Tokens

In [34]:
y = dataset["label"]    #hedef sütünü

In [16]:
url_list = dataset["url"] #test sütünü

In [17]:
vectorizer = TfidfVectorizer(tokenizer=makeTokens)

In [18]:
X = vectorizer.fit_transform(url_list)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
logit = LogisticRegression()
logit.fit(X_train, y_train)

LogisticRegression()

### Logit kullanarak başarı Oranı

In [21]:
print("Accuracy ",logit.score(X_test, y_test))

Accuracy  0.9948020791683326

In [22]:
#aşağıdaki linkler İyi Amaçlı oolarak kullanılan linkler'dir

X_predict = ["https://bm.ksu.edu.tr/","https://www.google.com.tr/","https://kervaniho.site",   
"https://www.w3schools.com/python/numpy/default.asp",
]

In [23]:
X_predict = vectorizer.transform(X_predict)
New_predict = logit.predict(X_predict)

In [24]:
print(New_predict)

['iyi_amaçli' 'iyi_amaçli' 'iyi_amaçli' 'iyi_amaçli']

### aşağıdaki linkler google'den bulduğumuz ve daha önce tespit edilen  kötücül linklerdir

In [25]:
X_predict1 = ["www.buyfakebillsonlinee.blogspot.com", 
"www.unitedairlineslogistics.com",
"www.stonehousedelivery.com",
"www.silkroadmeds-onlinepharmacy.com" ]

In [26]:
X_predict1 = vectorizer.transform(X_predict1)
New_predict1 = logit.predict(X_predict1)
print(New_predict1)

['kötü_amaçli' 'kötü_amaçli' 'kötü_amaçli' 'kötü_amaçli']

In [27]:
vectorizer = TfidfVectorizer()

In [28]:
X = vectorizer.fit_transform(url_list)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Logistic Regresyonu modeli oluşturma

In [29]:
logit = LogisticRegression() #using logistic regression
logit.fit(X_train, y_train)

LogisticRegression()

### Modelin başarısı

In [30]:
print("Başarı Oranı ",logit.score(X_test, y_test))

Accuracy  0.9954240526011817